.navBar {
  border: 3px solid black;
  padding: 3px;
}

.menu-mid {
  gap: 50px;
  margin-right: 15%;
}
.menu-mid > * {
  transition: all 100ms;
}

.menu-mid > *:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.selectedMenu {
  font-size: 1.1rem;
  font-weight: bold;
}

.menu-right {
  gap: 30px;
}
