.hero-section {
  background-color: rgba(252, 224, 220, 255);
  border-radius: 15px;
}

.leftSection {
  padding: 6rem;
}

.textbox-first {
  font-size: 3rem;
  font-weight: 600;
}

.textbox-second {
}

.textbox-third {
  font-weight: 600;
}
